<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title" translate>
					Common.Players
				</div>
			</div>
			<div class="documents-main pl0">
				<div class="documents-main-content">
					@for (tournament of documents; track tournament._id) {
					<div
						(click)="profile(tournament)"
						class="documents-main-row"
					>
						<div class="documents__title">
							{{tournament.name || 'No title'}}
						</div>
						<div class="documents__description">
							{{tournament.bio || 'No biography'}}
						</div>
						<div class="documents-tags">
							@for (tag of []; track $index) {
							<div class="documents-tags__wrap">
								<div class="documents-tags__item">
									Smth here
								</div>
							</div>
							}
						</div>
						<div class="documents-tags">
							<div class="documents-tags__wrap">
								<span
									(click)="$event.stopPropagation(); profile(tournament)"
									class="material-icons pr10"
									title="Player"
								>
									visibility
								</span>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
