:host {
	display: block;
}

h1 {
	font-size: 1.125rem;
	margin: 0 0 0.75rem 0;
	line-height: 1.2;
}

.wrapper {
	padding: 1rem;
}

.cg-board {
	width: 480px;
	height: 480px;
	border-radius: 8px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
	position: relative;
}
