<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left">
					<div
						class="documents-header-left__avatar"
						routerLink="/profile"
					>
						<img [src]="userService.thumb" alt="" />
					</div>
				</div>
				<div class="documents-header__title">Title header</div>
				<div class="burger-wrap">
					<div class="burger"></div>
				</div>
			</div>
			<div class="documents-main pl0">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit.
						</div>
						<div class="documents__description">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Mollitia voluptatum facilis sit
							necessitatibus, rem consectetur pariatur sapiente
							incidunt laudantium praesentium aut iste omnis
							suscipit autem deleniti, nisi temporibus obcaecati
							eligendi?
						</div>
					</div>
					<div class="documents-main-row">
						<div
							#board
							class="cg-board"
							aria-label="Chess board"
						></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
